.payment-form-container {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .paymentLabel {
    display: block;
    font-weight: bold;
  }
  
  .paymentIP {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .paymentBtn {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  